@model UserManagement.DAL.Model.UserModel

@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>
<div class="card">
    <div class="card-body">
        <p><strong>Username:</strong> @Model.UserName</p>
        <p><strong>Email Address:</strong> @Model.Email</p>
    </div>
</div>
